body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}



.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo img {
    height: 40px;
}


.header-title{
    align-items: center;
    font-size:large;
    

}

.header-nav {
    display: none;
}


.header-nav .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.header-nav .nav-list li {
    margin-left: 20px;
}

.header-nav .nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}



.header-actions {
    display: flex;
    align-items: center;
}


.header-actions .search-button,
.header-actions .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
    color: #333;
}



.drawer {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    padding-top: 60px;
    border-right: 1px solid #ddd;
}

.drawer .drawer-nav .drawer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.drawer .drawer-nav .drawer-list li {
    padding: 15px 20px;
}

.drawer .drawer-nav .drawer-list li a {
    text-decoration: none;
    color: #333;
    display: block;
}


body.drawer-open .drawer {
    display: flex;
}

main{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.podcast-search {
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    display: none;
}
.podcast-search button {
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #000204;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.loading-message {
    text-align: center;
    margin-top: 0px;
    width: 100%;
}


.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 33% 33% 33%;
    gap: 10px; 
    padding: 20px; 
}




.grid div {
    border: 1px solid #1d1616;
    padding: 10px;
    text-align: center;
}


.img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}



.layout-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.podcast-title-dash {
    margin-top: 0px;
    
}



.play-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 2em;
}

.audio-player {
    display: none;
    margin-top: 20px;
}

.visible {
    display: block;
}
.podcast-image-dash {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.episode-info {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.description-dash {
    font-size: 1em;
    margin-bottom: 20px;
}

.summary-dash {
    font-size: 1em;
    line-height: 1.5;
}


@media (min-width: 990px) {
    .header-nav {
        display: block;
    }
    .header-actions .menu-button {
        display: none;
    }
    .drawer {
        display: none;
    }
    
   

}

@media (min-width: 451px) and (max-width: 989px){
   
    .grid {
        grid-template-columns: 50% 50%;
    }
    .grid div {
        font-size: 14px;
        padding: 5px;
    }
    
   

    
}

@media (max-width: 450px) {
    
    .grid div {
        font-size: 12px;
        padding: 5px;;
    }
    .grid {
        grid-template-columns: 100%;
    }
   
}

